<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034567334569-js745l28764t1vp7kag07e5me6egljqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034567334569-js745l28764t1vp7kag07e5me6egljqv</string>
	<key>API_KEY</key>
	<string>AIzaSyC4dP-jSZIrzCIhMGbNFlegSFFvEcM1LpA</string>
	<key>GCM_SENDER_ID</key>
	<string>1034567334569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teguhdev.courseguh</string>
	<key>PROJECT_ID</key>
	<string>courseguh-5ee3d</string>
	<key>STORAGE_BUCKET</key>
	<string>courseguh-5ee3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034567334569:ios:c4392a8ac96eaeb5a347b8</string>
</dict>
</plist>